<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1 style="text-align: center; left:50%;">文件上传</h1>

</br>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

</br>
<footer>
    <h3 style="text-align: center; position:fixed; bottom:0px; left:50%;"><a target="_blank" href="https://landgrey.me/">Build By LandGrey</a></h3>
</footer>

<style>
    a:hover,a:visited{color:red;}
</style>

</body>
</html>
